In [1]:
import pandas as pd
import numpy as np

In [28]:
df_acq_header=pd.read_csv('some-acquisition/header_aquisition_file.txt', sep=',')
df_acq_header.head()
df_acq_header.columns
column=df_acq_header['Field Name'].tolist()
#column

In [50]:
df_acq = pd.read_csv('some-acquisition/Acquisition_2017Q2.txt', sep='|',header=None,index_col=False, names=column)
df_acq.head()

,LOAN IDENTIFIER,ORIGINATION CHANNEL,SELLER NAME,ORIGINAL INTEREST RATE,ORIGINAL UPB,ORIGINAL LOAN TERM,ORIGINATION DATE,FIRST PAYMENT DATE,ORIGINAL LOAN-TO-VALUE (LTV),ORIGINAL COMBINED LOAN-TO-VALUE (CLTV),...,PROPERTY TYPE,NUMBER OF UNITS,OCCUPANCY TYPE,PROPERTY STATE,ZIP CODE SHORT,PRIMARY MORTGAGE INSURANCE PERCENT,PRODUCT TYPE,CO-BORROWER CREDIT SCORE AT ORIGINATION,MORTGAGE INSURANCE TYPE,RELOCATION MORTGAGE INDICATOR
0,100008626061,R,OTHER,4.375,515000,360,03/2017,05/2017,95,95,...,SF,1,P,CA,921,30.0,FRM,791.0,1.0,N
1,100010363569,R,"CITIMORTGAGE, INC.",4.250,250000,360,04/2017,06/2017,61,61,...,CP,1,P,NY,100,NaN,FRM,NaN,NaN,N
2,100012442387,C,"AMERIHOME MORTGAGE COMPANY, LLC",4.750,257000,360,04/2017,06/2017,95,95,...,PU,1,P,FL,331,30.0,FRM,NaN,1.0,N
3,100012535712,R,OTHER,4.625,242000,360,04/2017,06/2017,90,90,...,SF,1,P,MN,554,25.0,FRM,NaN,2.0,N
4,100017029207,R,QUICKEN LOANS INC.,4.875,636000,360,05/2017,07/2017,69,69,...,PU,1,I,CA,913,NaN,FRM,NaN,NaN,N

In [51]:
df_acq.shape

(460092, 25)

In [52]:
acq_loan=df_acq[['LOAN IDENTIFIER', 'ORIGINAL UPB']]

In [43]:
df_perf_header=pd.read_csv('performance_file_headers.txt', sep=',')
df_perf_header.head()
p_column=df_perf_header['Field Name'].tolist()
#p_column

In [44]:
df_perf = pd.read_csv('all-performance/Performance_2017Q2.txt', sep='|',header=None,index_col=False, names=p_column)
df_perf.head()

,LOAN IDENTIFIER,MONTHLY REPORTING PERIOD,SERVICER NAME,CURRENT INTEREST RATE,CURRENT ACTUAL UPB,LOAN AGE,REMAINING MONTHS TO LEGAL MATURITY,ADJUSTED MONTHS TO MATURITY,MATURITY DATE,METROPOLITAN STATISTICAL AREA (MSA),...,ASSOCIATED TAXES FOR HOLDING PROPERTY,NET SALE PROCEEDS,CREDIT ENHANCEMENT PROCEEDS,REPURCHASE MAKE WHOLE PROCEEDS,OTHER FORECLOSURE PROCEEDS,NON INTEREST BEARING UPB,PRINCIPALFORGIVENESS AMOUNT,REPURCHASE MAKE WHOLE PROCEEDS FLAG,FORECLOSURE PRINCIPAL WRITE-OFF AMOUNT,SERVICING ACTIVITY INDICATOR
0,100008626061,04/01/2017,OTHER,4.375,NaN,0,360,359.0,04/2047,41740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,100008626061,05/01/2017,NaN,4.375,NaN,1,359,359.0,04/2047,41740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,100008626061,06/01/2017,NaN,4.375,NaN,2,358,358.0,04/2047,41740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,100008626061,07/01/2017,NaN,4.375,NaN,3,357,357.0,04/2047,41740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,100008626061,08/01/2017,NaN,4.375,NaN,4,356,356.0,04/2047,41740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [48]:
perf_loan.shape

(8748194, 2)

In [45]:
perf_loan = df_perf[['LOAN IDENTIFIER', 'CURRENT ACTUAL UPB']]

In [53]:
acq_perf = pd.merge(acq_loan, perf_loan, on=['LOAN IDENTIFIER'], how='inner')
acq_perf.head()

   LOAN IDENTIFIER  ORIGINAL UPB  CURRENT ACTUAL UPB
0     100008626061        515000                 NaN
1     100008626061        515000                 NaN
2     100008626061        515000                 NaN
3     100008626061        515000                 NaN
4     100008626061        515000                 NaN

In [54]:
acq_perf.shape

(8748194, 3)